h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(90 90 90);
}

#body {
  background: #ffff;
}

.contain {
  display: flex;
  flex-direction: row-reverse;
}

.event {
  max-width: 100%;
  height: auto;
}
