h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(90 90 90);
}

.box1 {
  align-items: center;
}

#body {
  background: #ffff;
}

.container {
  display: flex;
  flex-direction: row;
}

.illustration {
  max-width: 100%;
  height: auto;
}
